/* .game{
    display: flex;
    justify-content: space-between;
}
.box{
    width:45% ;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
 .games-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  gap: 30px; /* space between columns */
}

.box {
  border: 1px solid #ccc;
  padding: 15px;
}

.shinchan{
    text-align: center;
    margin-right: 100px;
}
